

<%- include('./component/sidebar.ejs') %>
<div class="main">
  <%- include('./component/navigation.ejs') %>
  <div id="main" class="main__content">
    <!-- bread crumb start -->
    <div class="d-flex align-items-center main__content__crumb">
      <a class="main__content__crumb--before">Cars</a>
      <img src="/image/ic_chevron-right.svg" alt="" srcset="" />
      <a class="main__content__crumb--now">List Cars</a>
    </div>
    <!-- bread crumb end -->
    <!-- title & create car start -->
    <div class="d-flex justify-content-between main__content__title">
      <h5>List Cars</h5>
      <div class="main__content__title--btn">
        <a href="/create" class="d-flex align-items-center">
          <i data-feather="plus" class="fi_plus"></i><span>Add New Car</span>
        </a>
      </div>
    </div>
    <!-- title & create car end -->
    <!-- content filter start -->
    <div class="main__content__filter">
      <form class="form-inline" action="/" method="get">
        <div class="d-flex gap-4 main__content__filter__btn">
          <button id="btn__type" type="submit" class="btn__type__non" name="type" value="all">
            All
          </button>
          <button id="btn__type" type="submit" class="btn__type__non" name="type" value="small">
            Small
          </button>
          <button id="btn__type" type="submit" class="btn__type__non" name="type" value="medium">
            Medium
          </button>
          <button id="btn__type" type="submit" class="btn__type__non" name="type" value="large">
            Large
          </button>
        </div>
      </form>
    </div>
    <!-- content filter end -->
    <!-- list cars start -->
    <div class="main__content__cars">
      <div class="row mt-2 me-2 gy-4 gx-4">
        <% data.forEach(car => { %>
          <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem">
              <img src="cars/<%= car.image %>" class="card-img-top img-fluid img-thumbnail" height="50" width="200"/>
              <div class="card-body">
                <h5 class="card-title"><%= car.name %> / <%= car.type %></h5>
                <div class="card-text mb-3">
                  <b>Rp. <%= car.price %> / hari </b>
                  <br />
                  <span>Size : <%= car.size %> </span>
                  <br />
                  <span
                    ><i class="bi bi-clock"></i> Updated At <%=
                    car.updatedAt.toDateString() %>
                  </span>
                </div>
                <div class="d-grid gap-2 d-md-block">
                  <a href="" style="margin-right: 30px" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalToggle<%= car.id %> "><i class="bi bi-trash"></i> Delete</a>
                  <a href="/update/<%= car.id %>" role="button" class="btn btn-success" style="padding-left: 25px; padding-right: 25px"><i class="bi bi-pencil-square"></i> Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- modal start -->
        <div class="modal fade" id="exampleModal<%= car?.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <div class="d-flex justify-content-center pt-3">
                  <img src="/image/img-BeepBeep.svg" alt="" srcset="" class="img" />
                </div>
                <h5 class="text-center">Menghapus Data Mobil</h5>
                <p class="text-center">
                  Setelah dihapus, data mobil tidak dapat <br />
                  dikembalikan. Yakin ingin menghapus?
                </p>
              </div>
              <div class="d-flex justify-content-center gap-4 modal__btn mb-5">
                <a href="/delete/<%= car?.id  %>" class="btn btn-primary">Ya</a>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
                  Tidak
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal end -->
        <% }) %>
      </div>
    </div>
    <!-- list cars end -->
  </div>
</div>
<%- include('./component/footer.ejs') %>