<% if (failSearchMsg) { %>
<div class="notif__failSearch">
  <h5><%= failSearchMsg %></h5>
</div>
<% } %>
<% if (searchMsg) { %>
<div class="notif__search">
  <h5><%= searchMsg %></h5>
</div>
<% } %>
<% if (saveMsg) { %>
<div class="notif__save">
  <h5><%= saveMsg %></h5>
</div>
<% } %>
<% if (deleteMsg) { %>
<div class="notif__delete">
  <h5><%= deleteMsg %></h5>
</div>
<% } %>
<% if (errorMsg) { %>
<div class="notif__error">
  <h5><%= errorMsg %></h5>
</div>
<% } %>