<%- include('../component/sidebar.ejs') %>
<div class="main">
  <%- include('../component/navigation.ejs') %>
  <div id="main" class="main__content">
    <%- include('../component/notification.ejs') %>
    <!-- bread crumb start -->
    <div class="d-flex align-items-center main__content__crumb">
      <a class="main__content__crumb--before">Cars</a>
      <img src="/image/ic_chevron-right.svg" alt="" srcset="" />
      <a href="/" class="main__content__crumb--before">List Cars</a>
      <img src="/image/ic_chevron-right.svg" alt="" srcset="" />
      <a class="main__content__crumb--now">Update Car Information</a>
    </div>
    <!-- bread crumb end -->
    <!-- title & create car start -->
    <div class="d-flex justify-content-between main__content__title">
      <h5>Update Car Information</h5>
    </div>
    <!-- title & create car end -->
    <!-- form add new car start -->
    <div class="main__content__form">
      <form action="/update/<%= car.id  %>" method="post" name="registration" class="d-flex flex-column" enctype="multipart/form-data">
        <fieldset class="d-flex flex-column gap-3">
          <div class="form-group">
            <label for="name">Nama <span class="form__active">*</span></label>
            <input name="name" id="name" type="text" placeholder="Avanza" value="<%= car.name  %>" required />
          </div>
          <div class="form-group">
            <label for="rentPerDay">Sewa per Hari<span class="form__active">*</span></label>
            <input name="rentPerDay" id="rentPerDay" type="number" placeholder="Rp 0,-" value="<%= car.rentPerDay  %>" required />
          </div>
          <div class="form-group d-flex">
            <label for="type">Ukuran*</label>
            <div class="ms-1 form-group__input">
              <select name="type" id="type">
                <option value="<%= car.type %>" disabled selected hidden><span><%= car.type %></span></option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
              <img src="/image/ic_chevron-down.svg" alt="" srcset="" class="chevron" />
            </div>
          </div>
          <div class="form-group d-flex">
            <label for="foto">Foto <span class="form__active">*</span></label>
            <div class="ms-1 form-group__input">
              <input class="form-controls" type="file" id="formFile" name="image" value="<%= car.imgUrl  %>" />
              <img src="/image/ic_upload.svg" alt="" srcset="" class="input__form__up" />
              <p class="form-group__input__warn">File size max. 2MB</p>
            </div>
          </div>
        </fieldset>

        <div class="form_group__btn">
          <a href="/" class="btn__create__cancel">Cancel</a>
          <button type="submit" class="btn__create__save">Save</button>
        </div>
        <!-- Modal -->
      </form>
    </div>
    <!-- form add new car end -->
  </div>
</div>
<%- include('../component/footer.ejs') %>